<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>

  <!-- PROFILE PIC -->
  <ion-avatar class="ion-margin-start">
    <img alt="Silhouette of a person's head" src="https://i.imgur.com/ZamvKBP.png" />
  </ion-avatar>
  <br>

  <!-- FIRST NAME -->
  <ion-list *ngFor="let contact of contacts;index as i">
    <ion-item-sliding>
      <ion-item><ion-label>First Name:</ion-label>{{contact.fName}}</ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon slot="icon-only" name="create-outline" (click)=" editModal(i)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <br>

    <!-- Last Name -->
    <ion-item-sliding>
      <ion-item><ion-label>Last Name:</ion-label>{{contact.lName}}</ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon slot="icon-only" name="create-outline" (click)=" editModal(i)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <br>

    <!-- Email -->
    <ion-item-sliding>
      <ion-item><ion-label>Email:</ion-label>{{contact.eMail }}</ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon slot="icon-only" name="create-outline" (click)=" editModal(i)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <br>

    <!-- Date of Birth -->
    <ion-item-sliding>
      <ion-item><ion-label>Birthday:</ion-label>{{contact.birthDay}}</ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon slot="icon-only" name="create-outline" (click)=" editModal(i)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>