<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-padding-end">
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>

  <!-- PROFILE PIC -->
  <ion-avatar class="ion-margin-start" (click)="getPictures()">
    <img alt="Silhouette of a person's head" src="https://i.imgur.com/ZamvKBP.png" />
  </ion-avatar>
  
  <br>
  <img src={{imageFile}}>

  <div class="two-image" *ngFor="let imgs of imageFiles">
    <img src='{{imgs}}' alt="" srcset="">
  </div>
  <!-- FIRST NAME -->
  <ion-list *ngFor="let contact of contacts;index as i" class="ion-margin-end">
    <ion-item-sliding>
      <ion-item><ion-label>First Name:</ion-label>{{contact.fName}}</ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon slot="icon-only" name="create-outline" (click)=" getFName()"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <br>

    <!-- Last Name -->
    <ion-item-sliding>
      <ion-item><ion-label>Last Name:</ion-label>{{contact.lName}}</ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon slot="icon-only" name="create-outline" (click)=" getLName()"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <br>

    <!-- Email -->
    <ion-item-sliding>
      <ion-item><ion-label>Email:</ion-label>{{contact.eMail}}</ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon slot="icon-only" name="create-outline" (click)=" getEmail()"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <br>

    <!-- Date of Birth -->
    <ion-item>
      <ion-label>Birthday:</ion-label>
      <ion-datetime-button datetime="datetime">
      </ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" [showDefaultButtons]="true" presentation="date" [showDefaultTitle]="true"
            preferWheel="true" [(ngModel)]="contacts[0].bDate" (ionDatetimeChange)="getDate($event)">
            <span slot="title">Select your Date of Birth</span>
          </ion-datetime>

        </ng-template>
      </ion-modal>
    </ion-item>
  <br>
  <ion-item-sliding>
    <ion-item><ion-label>Password:</ion-label>{{contact.passWord}}</ion-item>
    <ion-item-options side="end">
      <ion-item-option color="success">
        <ion-icon slot="icon-only" name="create-outline" (click)=" getPassword()"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <br>


    <ion-button id="open-loading" (click)="saveData()">Save</ion-button>
    <ion-loading trigger="open-loading" spinner="bubbles" message="Saving..." duration="500"></ion-loading>
  </ion-list>
</ion-content>