<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create Account</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item>
      <ion-input label="First Name:" labelPlacement="stacked" placeholder="John / Jane"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Last Name:" labelPlacement="stacked" placeholder="Doe"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email:" labelPlacement="stacked" placeholder="youremail@address.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="Password" label="Password:" labelPlacement="stacked" placeholder="Password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="Password" label="Re-type Password:" labelPlacement="stacked"
        placeholder="Re-type Password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block">Create Account</ion-button>
  <ion-text>
    <p>Already have an Account?</p>
  </ion-text>
  <ion-button expand="block">Login</ion-button>

  <ion-item>
    <ion-buttons>
      <ion-button>
        <h6>Terms and Conditions</h6>
      </ion-button>
    </ion-buttons>
  </ion-item>



</ion-content>