<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create Account</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <!-- FIRST NAME -->
    <ion-item>
      <ion-input label="First Name:" labelPlacement="stacked" placeholder="John / Jane" type="text" [(ngModel)]="fName"
        clearInput></ion-input>
    </ion-item>

    <!-- LAST NAME -->
    <ion-item>
      <ion-input label="Last Name:" labelPlacement="stacked" placeholder="Doe" type="text" [(ngModel)]="lName"
        clearInput></ion-input>
    </ion-item>

    <!-- DATE -->
    <ion-item>
      <ion-label>Date of Birth</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" presentation="date" preferWheel="true"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <!-- Email -->
    <ion-item>
      <ion-input label="Email:" labelPlacement="stacked" placeholder="youremail@address.com" type="text"
        [(ngModel)]="eMail" clearInput></ion-input>
    </ion-item>

    <!-- PASSWORD -->
    <ion-item>
      <ion-input type="Password" label="Password:" labelPlacement="stacked" placeholder="Password"
        clearInput></ion-input>
    </ion-item>

    <!-- RETYPE PASSWORD -->
    <ion-item>
      <ion-input type="Password" label="Re-type Password:" labelPlacement="stacked"
        placeholder="Re-type Password"></ion-input>
    </ion-item>
  </ion-list>
  <br>
  <br>
  <br>

  <!-- CREATE ACCOUNT -->
  <ion-button expand="block"(click)="saveData()" id="open-loading" (click)="closemodal()">Create Account</ion-button>
  <ion-loading trigger="open-loading" spinner="bubbles" duration="1000" ></ion-loading>
  <ion-text>
    <p>Already have an Account?</p>
  </ion-text>
  <ion-button expand="block" (click)="click()" routerLink="./login">Login</ion-button>
  <br>

  <!-- TERMS AND CONDITIONS -->
  
    <ion-buttons>
      <ion-button routerLink="/terms-conditions">
        <h6>Terms and Conditions</h6>
      </ion-button>
    </ion-buttons>
 
</ion-content>