<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- IMG -->
  <ion-img src="https://i.imgur.com/m4BcCIt.png" alt="Walking"></ion-img>

  <ion-text>
    <ion-item>
      <h1>Login to your Account</h1>
    </ion-item>
  </ion-text>

  <!-- EMAIL -->
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <!-- Form fields -->
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="text" [(ngModel)]="eMail" name="eMail" placeholder="youremail@address.com" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input type="password" [(ngModel)]="passWord" name="passWord" placeholder="Password" required></ion-input>
    </ion-item>
  
    <!-- Error message for validation -->
    <div *ngIf="loginForm.submitted && (loginForm.controls['eMail'].invalid || loginForm.controls['passWord'].invalid)">
      <p>Please provide both email and password.</p>
    </div>
    
    
  
    <!-- Buttons -->
    <ion-button expand="block" id="open-loading" type="submit" [disabled]="loginForm.invalid">
      Login
    </ion-button>
    <ion-button expand="block" (click)="presentModal()">Create Account</ion-button>
    <ion-loading trigger="open-loading" spinner="bubbles" duration="1000"></ion-loading>
  </form>
  
</ion-content>