<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Maps</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- PLACEHOLDER MAP -->

  <div #map id='map' style='height: 400px;'></div>

  <!-- GOAL -->
  <br>
  <ion-item>
    <ion-label>
      <h1>Distance Goals</h1>
    </ion-label>
    <ion-text>{{ distanceGoals }} km</ion-text>
  </ion-item>

  <!-- Distance -->
  <br>
  <ion-item>
    <ion-label>
      <h1>Distance</h1>
    </ion-label>
    <ion-text>{{ dailyDistance.toFixed(2) }} km</ion-text>
  </ion-item>

  <!-- WEEKLY DISTANCE -->
  <br>
  <ion-item>
    <ion-label>
      <h1>Weekly Distance</h1>
    </ion-label>
    <ion-text>{{ weeklyDistance.toFixed(2) }} km</ion-text>
  </ion-item>
  <br>

  <!-- AVERAGE DISTANCE -->
  <ion-item>
    <ion-label>
      <h1>Average Distance</h1>
    </ion-label>
    <ion-text>{{ (weeklyDistance / 7).toFixed(2) }} km</ion-text>
  </ion-item>
  
  <ion-item>
    <!-- <ion-button [disabled]="isTracking" (click)="startTrackingLocation()"/></ion-button>>Start</ion-button> -->
  </ion-item>
  <ion-item>
    <!-- <ion-button [disabled]="!isTracking" (click)="stopTracking()">Stop</ion-button> -->
  </ion-item>
</ion-content>
