<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Maps</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img src="https://i.imgur.com/k6RQsav.png" alt="Walking"></ion-img>
<!-- GOAL -->
<br>
  <ion-item>
    <ion-label>
      <h1>GOAL</h1>
    </ion-label>
    <ion-text>10km</ion-text>
  </ion-item>
<!-- Distance -->
  <ion-item>
    <ion-label>
      <h1>Distance</h1>
    </ion-label>
    <ion-text>7km</ion-text>
  </ion-item>
<!-- GOAL -->
  <ion-item>
    <ion-label>
      <h1>Weekly Distance</h1>
    </ion-label>
    <ion-text>9km</ion-text>
  </ion-item>

</ion-content>
