<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Maps</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img src="https://i.imgur.com/k6RQsav.png" alt="Walking"></ion-img>

  <ion-item>
    <ion-label>
      <h1>Steps</h1>
    </ion-label>
    <ion-text>10,000 Steps</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>
      <h1>Weekly Steps</h1>
    </ion-label>
    <ion-text>10,001 Steps</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>
      <h1>Kilometers</h1>
    </ion-label>
    <ion-text>7km</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>
      <h1>Weekly Kilometers</h1>
    </ion-label>
    <ion-text>21km</ion-text>
  </ion-item>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
