<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title mode="ios"> Welcome </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-text>
    <ion-item>
      <h2>Login</h2>
    </ion-item>
  </ion-text>

  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="id" name="username" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="Password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-checkbox slot="start"></ion-checkbox>Remain Logged in
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="login()" shape="round" color="success" *ngIf="id != ''" size="large"
    >Login <ion-icon name="log-in-outline"></ion-icon>
  </ion-button>

  <ion-list>
    <ion-text> {{timesClicked}} Login Attempts</ion-text>
  </ion-list>

</ion-content>
