ion-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

ion-fab-button {
    --border-radius: 25px;
    width: 250px;
}

ion-fab {
    display: grid;
    height: 30%;
    width: 100%;
    align-items: center;
    justify-items: center;
}