<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>

  <!-- Dark Mode -->
  <ion-item>
      <ion-toggle   justify="space-between" [(ngModel)]="darkMode"  (ionChange)="toggleDarkMode()"> <h2>Dark Mode</h2></ion-toggle>
  </ion-item>


  <!--Step Goals -->
  <br>
  <ion-item>
    <ion-select justify="space-between" label="Step Goals" [(ngModel)]="stepGoals" interface="action-sheet" (ionChange)="saveGoals()" placeholder="steps">
      <ion-select-option value="2500">2,500 steps</ion-select-option>
      <ion-select-option value="5000">5,000 steps</ion-select-option>
      <ion-select-option value="7500">7,500 steps</ion-select-option>
      <ion-select-option value="10000">10,000 steps</ion-select-option>
    </ion-select>
  </ion-item>
  <br>

  <!--Distance Goals -->
  <ion-item>
    <ion-select justify="space-between"  [(ngModel)]="distanceGoals" (ionChange)="saveGoals()" interface="action-sheet" label="Distance Goals" placeholder="km" >
      <ion-select-option value="2.5">2.5 km</ion-select-option>
      <ion-select-option value="5">5 km</ion-select-option>
      <ion-select-option value="7.5">7.5 km</ion-select-option>
      <ion-select-option value="10">10 km</ion-select-option>
    </ion-select>
  </ion-item>
  <br>

  <!-- Account -->
  <ion-item>
    <ion-buttons>
      <ion-button routerLink="/account">
        <h2>Account</h2>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <br>

  <!-- FAQ -->
  <ion-item>
    <ion-buttons>
      <ion-button routerLink="/faq">
        <h2>FAQ</h2>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <br>

  <!-- Terms and Conditions -->
  <ion-item>
    <ion-buttons>
      <ion-button routerLink="/terms-conditions">
        <h2>Terms and Conditions</h2>
      </ion-button>
    </ion-buttons>
  </ion-item>
  
</ion-content>