ion-avatar {
    width: 100% !important;
    height: 100% !important;
    max-width: 150px !important;
    max-height: 150px !important;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ion-padding-end {
    padding: 0px;
}