<ion-header>
  <ion-toolbar><ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- IMG -->
  <ion-img src="https://i.imgur.com/m4BcCIt.png" alt="Walking"></ion-img>

  <ion-text>
    <ion-item>
      <h1>Login to your Account</h1>
    </ion-item>
  </ion-text>

  <!-- EMAIL -->
  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input type="text" name="email" placeholder="youremail@address.com"></ion-input>
  </ion-item>

  <!-- PASSWORD -->
  <ion-item>
    <ion-label>Password:</ion-label>
    <ion-input type="Password" placeholder="Password"></ion-input>
  </ion-item>

  <!-- RADIO -->
  <ion-item>
    <ion-checkbox justify="start" labelPlacement="end">Remember me</ion-checkbox>
  </ion-item>
  <br>
  <br>
  <br>
  <br>
  <!-- BUTTON to go back to login -->
  <ion-button expand="block" routerLink="/tabs">Login</ion-button>
  <!-- BUTTON to show modal -->
  <ion-button expand="block" (click)="presentModal()">Create Account</ion-button>

</ion-content>